@*
 
*@
@{
    ViewData["Title"] = "Home Page";
}
<a class="navbar-brand" asp-area="" asp-controller="AdminPanel" asp-action="Users">Пользователи</a>
<a class="navbar-brand" asp-area="" asp-controller="AdminPanel" asp-action="Users">Типы животных</a>
<a class="navbar-brand" asp-area="" asp-controller="AdminPanel" asp-action="Users">Прививки</a>
