@model Animal_Status.VaccinationViewModel

<h2>Редактировать вакцину</h2>

<form asp-action="RedactVaccine" asp-route-id="@Model.VaccinationId">
    <div class="form-group">
        <label asp-for="Name">Название</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VaccinationDate">Дата</label>
        <input asp-for="VaccinationDate" type="date" class="form-control" />
        <span asp-validation-for="VaccinationDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
