@model Animal_Status.UserIndexViewModel

@{
   
}
<ul >
    @foreach (var item in Model.userViewModel)
    {
        <div class="cardItem">
            
            <p>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Email)
            </p>
            <a href="#" >Edit</a>

           


        </div>
    }
