@model StressLevelViewModel

@{
    ViewData["Title"] = "Добавление записи об Уровне стресса";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddStressLevel" asp-route-petId="@Model.PetId" method="post">
    <div class="form-group">
        <label asp-for="StressDate" class="control-label">Дата стресса</label>
        <input asp-for="StressDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="StressDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
