@model SleepAndRestViewModel

@{
    ViewData["Title"] = "Добавление записи о Сне и Отдыхе";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddSleepAndRest" asp-route-petId="@Model.PetId" method="post">
    <div class="form-group">
        <label asp-for="RestDate" class="control-label">Дата отдыха</label>
        <input asp-for="RestDate" class="form-control" />
        <span asp-validation-for="RestDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Добавить запись о Сне и Отдыхе</button>
</form>
